.heading-top{
    text-align: center;
  background: linear-gradient(135deg, #3c70c2c4 0%, #517cb9 100%);
    color: white;
    padding: 5px 0;
    
}
.heading-top h1{
    font-size: 25px;
    font-weight: 600;
}